.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: antiquewhite;
}

.wrapper {
    margin: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 5px 12px 5px rgba(168, 168, 168, 1);
    -moz-box-shadow: 4px 5px 12px 5px rgba(168, 168, 168, 1);
    box-shadow: 4px 5px 12px 5px rgba(168, 168, 168, 1);
}

.field-box {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(127, 128, 126);
    margin-bottom: 20px;
    padding: 5px;
}

.field-box--checked {
    justify-content: flex-start;
}

.field-box--checked label {
    margin-right: 50%;
}

.field-box--check-sauce {
    margin-right: 0px;
    justify-content: flex-start;
}

.field-box--btn {
    justify-content: center;
}

.field-box--gray {
    background-color: darkgray;
}

.radio-box {
    justify-content: flex-start;
}

input:focus {
    background-color: rgb(168, 226, 246);
}

input[type="text"],
textarea {
    width: 250px;
    padding: 3px;
}

select {
    width: 260px;
    padding: 3px;
}

input[type='radio'] {
    margin-right: 5px;
}

.radioLabel {
    display: flex;
}

label {
    margin-right: 10px;
}

label.m-right {
    margin-right: 95px;
}

label.m-right--radio {
    margin-right: 60px;
}


.sauceLabel {
    margin-bottom: 10px;
}

.sauceInputBox {
    display: flex;
    flex-direction: column;
}

.sauceInput {
    margin-bottom: 8px;
}

.align-box {
    display: flex;
    flex-direction: column;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    margin: 2px 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 10px -5px rgb(84, 84, 142);
}

button:active {
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    transform: scale(.95);
  }

button.submit-btn {
    background-color: rgb(101, 193, 223);
    color: aliceblue;
}

button.reset-btn {
    border: 1px solid rgb(200, 200, 200);
}

button:disabled {
    color: rgb(160, 160, 160);
    background-color: gainsboro;
}